<h1 class="title is-4">Sign Up</h1>

<div class="columns">
	<div class="column is-one-third">

		<%= render partial: "/layouts/error", locals: {error_object: @user} %>
			
		<div class="field ">
			<%= form_for :users do |f| %>
				<label class="label">Name</label>
				<div class="control has-icons-left">
					<%= f.text_field :name, placeholder:"name", class: "input" %>					
					<span class="icon is-small is-left">
						<i class="fas fa-user"></i>
					</span>
				</div>

				<label class= "label">Email</label>
				<div class="control has-icons-left">			
					<%= f.email_field 'email', placeholder: 'email', class: "input" %>
					<span class="icon is-small is-left">
				      <i class="fas fa-envelope"></i>
				    </span>				
				</div>

				<label class= "label">Password</label>
				<div class="control has-icons-left">	
					<%= f.password_field 'password', placeholder: 'password', class: "input" %>
					<span class="icon is-small is-left">
				      <i class="fas fa-lock"></i>
				    </span>
				</div><br>
				<%= submit_tag 'Submit', class: "button" %>
			<% end %>
		</div>
	</div>
</div>