<h1 class="title">Create New Game</h1>

<div class="columns">
	<div class="column is-one-third">

		<%= render partial: "/layouts/error", locals: {error_object: @game} %>

		<div class="field">
			<%= form_for @game do |f| %>
			
				<label class="label">Name</label>
				<div class="control">
					<%= f.text_field :name, placeholder:"Monopoly", class: "input" %>
				</div>

				<div class="columns">
					<div class="column">
						<label class= "label">Min-Players</label>
						<div class="control">			
							<%= f.text_field 'min_players', placeholder:"2", class: "input" %>			
						</div>
					</div>

						<div class="column">
						<label class= "label">Max-Players</label>
						<div class="control">			
							<%= f.text_field 'max_players', placeholder:"4", class: "input" %>			
						</div>
					</div>
				</div>		

				<label class= "label">Play time:</label>
				<div class="control">			
					<%= f.text_field 'play_time', placeholder:"25 - 30 minutes", class: "input" %>			
				</div>

				<label class= "label">Description</label>
				<div class="control">			
					<%= f.text_area 'description', placeholder:"Buy property, accumulate debt, go to jail, ruin friendships.", class: "textarea" %>			
				</div>

				<label class= "label">Mature Content?</label>
				<div class="control">			
					<%= f.check_box('mature_content', class: "checkbox") %>			
				</div>

				<br>

				<%= submit_tag 'Submit', class: "button" %>
			<% end %>
		</div>
	</div>
</div>