<h1 class="title"><%= @game.name %></h1>

<br>
<p class="subtitle">Info:</p>
<%= @game.description %>

<br>

Play Time: <%= @game.play_time %><br>
<%= @game.players %> players<br>
Contains mature content: <%= @game.mature_content %><br><br>




<%= button_to("add to my games", game_user_games_path(@game), class: "button") %>