<h1>This is the page for <%= @game.name %>!</h1>

<h3>Info</h3>
<%= @game.description %>

<br>

Play Time: <%= @game.play_time %><br>
<%= @game.players %> players<br>
Contains mature content: <%= @game.mature_content %><br><br>




<%= button_to "add to my games", game_user_games_path(@game) %>