<h1 class="title"><%= @meet_up.name %></h1>

<p class="subtitle">We'll be playing <strong><%= link_to @meet_up.game.name, game_path(@meet_up.game) %></strong></p>

	Players attending: <%= @meet_up.users.count %><br>
	Where: <%= link_to @meet_up.location.name, location_path(@meet_up.location) %><br>
	Meet Up Type: <%= link_to @meet_up.meet_up_type.name, meet_up_type_path(@meet_up.meet_up_type) %><br>
	When: <%= @meet_up.date.strftime("%b. %e, %Y") %> at <%= @meet_up.time.strftime("%l:%M %P") %>

	<br><br>

	<% if @current_user.meet_ups.include?(@meet_up) %>
		<%= button_to("remove from my meet ups", user_meet_up_path(@user_meet_up), method: :delete, class: "button is-danger") %>
	<% else %>
		<%= button_to("add to my meet ups", meet_up_user_meet_ups_path(@meet_up), method: "post", class: "button") %>
	<% end %><br>


<div class="field is-grouped">
	<% if @current_user.admin %>
	<p class="control">
		<%= button_to("Edit #{@meet_up.name}", edit_meet_up_path(@meet_up), method: :get, class: "button is-warning") %>
	</p>
	<p class="control">
		<%= button_to("Delete #{@meet_up.name}", meet_up_path(@meet_up), method: :delete, class: "button is-danger") %>
	</p>
	<% end %>
</div>