<h1 class="title"><%= @location.name %></h1>

<p class="subtitle is-6"><%= @location.address %></p>

<div class="field is-grouped">
	<% if @current_user.admin %>
		<p class="control">
			<%= button_to("Edit #{@location.name}", edit_location_path(@location), method: :get, class: "button is-warning") %>
		</p>
		<p class="control">
			<%= button_to("Delete #{@location.name}", location_path(@location), method: :delete, class: "button is-danger") %>
		</p>
	<% end %><br>
</div>

<ul>
	<p class="title is-4">Meet ups</p>
	<% @location.meet_ups.each do |meet_up| %>
		<li class="subtitle"><%= link_to meet_up.name, meet_up_path(meet_up) %></li>
	<% end %>
</ul><br>

<% if @current_user.admin %>
	<%= button_to("Create meet up",  new_location_meet_up_path(@location), method: "get", class: "button is-warning") %>
<% end %>